@import "tailwindcss";
@import "@gradual/tailwind-config/theme";

@config "../tailwind.config.ts";

@source "../../../packages/ui/src/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));
/* @font-face {
  font-family: "CommitMono";
  src: url("/fonts/CommitMono-400-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CommitMono";
  src: url("/fonts/CommitMono-700-Regular.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  :root {
    --font-commit-mono: "CommitMono";
    --font-jetbrains-mono: "JetBrainsMono";
  }
  * {
    @apply border-border;
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer utilities {
  html {
    overscroll-behavior: none;
  }

  .debug {
    @apply ring-1 ring-red-500 bg-red-500/10;
  }
}

@layer utilities {
  html {
    overscroll-behavior: none;
  }
}
